<div class="row">
    <div class="col-md-4">
        <div class="box-body">
            <div class="input-group">
                <input placeholder="Search..." name="filterDoctor" class="form-control" [(ngModel)]="filterDoctor">
            </div>
        </div>       
    </div>
</div>
<div class="box-body" >
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let doctor of doctores | buscarDoctor:filterDoctor" (click)="seleccionar(doctor)" >
                <td>{{doctor.identificacion_Doctor}}</td>
                <td>{{doctor.nombres}}</td>
                <td>{{doctor.apellidos}}</td>
                <td><a class="btn btn-primary btn-edit ">Seleccionar</a></td>
            </tr>
        </tbody>
    </table>
</div>
