<div class="box">
    <div class="box-header">
        <h2 class="box-title">Consulta De Historias Clinicas </h2>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Cedula Paciente</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Tratamiento</th>
                    <th>Costo</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td  routerLink='/viewHistorias' id="ver"><a class="btn btn-primary "><i class="fa fa-eye"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
