<div class="box">
    <div class="box-header">
        <h2 class="box-title">Consulta De Citas </h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box-body">
                <div class="input-group">
                    <input placeholder="Search..." name="filterPaciente" class="form-control" >
                </div>
            </div>       
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Numero ID</th>
                    <th>Nombre Paciente</th>
                    <th>Nombre Doctor</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cita of citas">
                    <td>{{cita.id}}</td>
                    <td>{{cita.paciente}}</td>
                    <td>{{cita.identificacion_Doctor}}</td>
                    <td>{{cita.fecha}}</td>
                    <td></td>
                    <td routerLink='/editCita' id="editar"><a class="btn btn-primary btn-edit "><i class="fa fa-edit"></i></a></td>
                    <td routerLink='/deleteCita' id="eliminar"><a class="btn btn-danger btn-delete"><i class="fa fa-minus-square fa-lg fa-fw"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
