<div class="box">
    <div class="box-header">
        <h2 class="box-title">Consulta De Odontologos</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box-body">
                <div class="input-group">
                    <input placeholder="Search..." name="filterDoctor" class="form-control" [(ngModel)]="filterDoctor">
                </div>
            </div>       
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Telefonos</th>
                    <th>Direccion</th>
                    <th>Fecha Nacimiento</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doctor of doctores | buscarDoctor:filterDoctor">
                    <td>{{doctor.identificacion_Doctor}}</td>
                    <td>{{doctor.nombres}}</td>
                    <td>{{doctor.apellidos}}</td>
                    <td>{{doctor.telefono}} , {{doctor.telefono2}}</td>
                    <td>{{doctor.direccion}}</td>
                    <td>{{doctor.fechaNacimiento}}</td>
                    <td routerLink='/editOdontologo/{{doctor.identificacion_Doctor}}' id="editar"><a class="btn btn-primary btn-edit "><i class="fa fa-edit"></i></a></td>
                    <td routerLink='/deleteOdontologo/{{doctor.identificacion_Doctor}}' id="eliminar"><a class="btn btn-danger btn-delete"><i class="fa fa-minus-square fa-lg fa-fw"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
