<div *ngIf="tratamiento">
    <div class="content">
        <h2>Eliminar Tratamiento</h2>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Codigo Tratamiento:</label>
                        </div>
                        <div class="input-group">
                            <input [(ngModel)]="tratamiento.codigo_tratamiento"  class="form-control" placeholder="Digite codigo del tratamiento" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Nombre Tratamiento:</label>
                        </div>
                        <div class="input-group">
                            <input [(ngModel)]="tratamiento.nombre"  class="form-control" placeholder="Digite nombre del tratamiento">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Costo Del Tratamiento:</label>
                        </div>
                        <div class="input-group">
                            <input [(ngModel)]="tratamiento.costo"  class="form-control" placeholder="Digite Costo del tratamiento" type="number">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div id="tablaBotones">
            <table>
                <tr>
                    <td><button (click)="delete()" class="btn btn-primary">Eliminar</button></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><button (click)="goBack()" class="btn btn-danger">Cancelar</button></td>
                </tr>
            </table>
        </div>
        <br>
    </div>
</div>

