<section class="content">
    <h2>Registrar Horas De Atencion</h2>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>Hora:</label>
                        </div>
                        <div class="input-group">
                            <input [(ngModel)]="hora.horario" class="form-control " type="time" >
                            <!--<div class="input-group-addon" ><i class="fa fa-hourglass-half"></i></div>-->
                        </div>
                    </div>
                    <div class="modal-footer clearfix">
                        <button (click)="add()" class="btn btn-primary"><label>Registrar</label></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            <h2 class="box-title">Consulta De Horas </h2>
        </div>
        <div class="box-body">
            <table class="table table-striped" *ngIf='horas && horas.length'>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Modificar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hora of horas; index as i" >
                        <td scope="row">{{i + 1}}</td>
                        <td>{{hora.horario}}</td>
                        <td routerLink='/editHora/{{hora.horario}}' id="editar"><a class="btn btn-primary btn-delete "><i class="fa fa-edit"></i></a></td>
                        <td routerLink='/deleteHora/{{hora.horario}}' id="eliminar"><a class="btn btn-danger btn-delete "><i class="fa fa-minus-square fa-lg fa-fw"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</section>
