<div class="row">
    <div class="col-md-4">
        <div class="box-body">
            <div class="input-group">
                <input placeholder="Search..." name="filterPaciente" class="form-control" [(ngModel)]="filterPaciente">
            </div>
        </div>       
    </div>
</div>
<div class="box-body" >
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let paciente of pacientes | paciente:filterPaciente" (click)="seleccionar(paciente)" >
                <td>{{paciente.identificacion_Paciente}}</td>
                <td>{{paciente.nombres}}</td>
                <td>{{paciente.apellidos}}</td>
                <td><a class="btn btn-primary btn-edit ">Seleccionar</a></td>
            </tr>
        </tbody>
    </table>
</div>
