<div class="">
    <h2>Agregar Citas Odontologicas</h2>
    <br>
    <form [formGroup]="registerForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                       <h3 class="box-title">Datos Del Paciente</h3>
                    </div>
                    <div class="box-body">
                        <label>Numero Documento Identidad:</label>
                        <div class="input-group">
                            <input class="form-control" formControlName="identificacion_Paciente"  [ngClass]="{ 'is-invalid':  f.identificacion_Paciente.errors }">
                            <button class="btn btn-primary" (click)="openModalPaciente()">Buscar</button>
                            <div *ngIf="submitted && f.identificacion_Paciente.errors" class="invalid-feedback">
                                <div *ngIf="f.identificacion_Paciente.errors.required">Se necesita un paciente</div>
                            </div>
                        </div>
                        <div class="box-footer" >
                            <label>Nombres:</label>
                            <input readonly formControlName="pacienteNombres" class="form-control" placeholder="Nombres Pacientes" >
                            <br>
                            <br>
                            <label>Apellidos:</label>
                            <input readonly formControlName="pacienteApellidos" class="form-control" placeholder="Apellidos Pacientes"   >
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Datos Odontologo</h3>
                    </div>
                    <div class="box-body">
                        <label>Documento De Identidad:</label>
                        <div class="input-group">
                            <input placeholder="Identificacion Odontologo" formControlName="identificacion_Doctor" class="form-control" [ngClass]="{ 'is-invalid':  f.identificacion_Doctor.errors }">
                            <button class="btn btn-primary" (click)="openModalDoctor()">Buscar</button>
                            <div *ngIf="submitted && f.identificacion_Doctor.errors" class="invalid-feedback">
                                <div *ngIf="f.identificacion_Doctor.errors.required">Se necesita un doctor</div>
                            </div>
                        </div>
                        <div class="box-footer" >
                            <label>Nombres:</label>
                            <input readonly formControlName="doctorNombres" class="form-control" placeholder="Nombres Odontologo"  >
                            <br>
                            <br>
                            <label>Apellidos:</label>
                            <input readonly formControlName="doctorApellidos" class="form-control" placeholder="Apellidos Odontologo"   >
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="form-row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Horario</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>Fecha:</label>
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control" formControlName="fecha" [ngClass]="{ 'is-invalid':  f.fecha.errors }">
                            <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
                                <div *ngIf="f.fecha.errors.required">Se necesita una fecha </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Hora:</label>
                        </div>
                        <div class="input-group">
                            <input  class="form-control" formControlName="horario" [ngClass]="{ 'is-invalid':  f.horario.errors }">
                            <button class="btn btn-primary" (click)="openModal()" >Buscar</button>
                            <div *ngIf="submitted && f.horario.errors" class="invalid-feedback">
                                <div *ngIf="f.horario.errors.required">Se necesita una hora </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mr-1">Registrar</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancelar</button>
        </div>
    </form>
</div>