<div class="box-body">
    <table class="table table-striped" *ngIf='horas && horas.length'>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hora</th>
                <th scope="col">Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hora of horas; index as i" (click)="seleccionar(hora)">
                <td scope="col">{{i + 1}}</td>
                <td>{{hora.horario}}</td>
                <td><a class="btn btn-primary btn-edit ">Seleccionar</a></td>
            </tr>
        </tbody>
    </table>
</div>
